POSTGRES_USER=survey_user
POSTGRES_PASSWORD=survey_password
POSTGRES_DB=survey_app
POSTGRES_PORT=your_port_number
DATABASE_URL=postgresql://survey_user:survey_password@localhost:your_port_number/survey_app
